.input {
  position: relative;
  width: max-content;
  $root: &;

  &__element {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    box-sizing: border-box;
    padding: 12px 10px;
    outline: none;
    font-size: var(--text);
    border: none;

    &--primary {
      border: 1px solid var(--bg-primary);
    }

    &--secondary {
      border: 1px solid var(--bg-secondary);
    }

    &--default {
      border: 1px solid var(--dark);
    }

    &::placeholder {
      font-size: 0;
    }

    &:placeholder-shown:focus + #{$root}__label,
    &:not(:placeholder-shown) + #{$root}__label {
      top: -2px;
      font-size: 12px;
    }
  }

  &__label {
    top: 50%;
    left: 10px;
    font-size: 14px;
    transform: translate(0, -50%);
    width: max-content;
    position: absolute;
    transition: top var(--transition) ease-in,
      font-size var(--transition) ease-in;
    background: var(--light);
    padding: 3px 0;
    pointer-events: none;
  }
}
