.menu-item {
  $root: &;

  cursor: pointer;
  overflow: hidden;
  position: relative;
  user-select: none;
  padding: 5px 15px;
  transition: all var(--transition) ease-in-out;

  &--active {
    &#{$root}--default {
      background: var(--dark);
      color: var(--light);
    }

    &#{$root}--primary {
      background: var(--bg-primary-opacity-20);
      color: var(--dark);
    }

    &#{$root}--secondary {
      background: var(--bg-secondary-opacity-20);
      color: var(--dark);
    }

    .ripple {
      background: var(--white-opacity-20);
    }
  }
}
