.avatar {
  border-radius: 50%;
  font-size: 0;
  object-fit: cover;

  &--lg {
    width: 35px;
    height: 35px;
  }

  &--md {
    width: 30px;
    height: 30px;
  }

  &--sm {
    width: 20px;
    height: 20px;
  }
}
