.avatar {
  border-radius: 50%;
  font-size: 0;

  &--lg {
    width: 25px;
    height: 25px;
  }

  &--md {
    width: 20px;
    height: 20px;
  }

  &--sm {
    width: 15px;
    height: 15px;
  }
}
