.button {
  $root: &;

  position: relative;
  overflow: hidden;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  width: max-content;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  box-sizing: border-box;
  user-select: none;
  transition: var(--transition) background ease-in-out,
    var(--transition) color ease-in-out;

  &--sm {
    height: 25px;
    width: 60px;
  }

  &--md {
    height: 30px;
    width: 70px;
  }

  &--lg {
    height: 35px;
    width: 80px;
  }

  &--default {
    &#{$root}--default {
      color: var(--dark);

      .ripple {
        background: var(--bg-primary-opacity-20);
      }
    }

    &#{$root}--primary {
      color: var(--bg-primary);

      .ripple {
        background: var(--bg-primary-opacity-20);
      }
    }

    &#{$root}--secondary {
      color: var(--bg-secondary);

      .ripple {
        background: var(--bg-secondary-opacity-20);
      }
    }
  }

  &--contained {
    &#{$root}--default {
      background: var(--dark);
      color: var(--light);

      .ripple {
        background: var(--white-opacity-20);
      }
    }

    &#{$root}--primary {
      background: var(--bg-primary);
      color: var(--light);

      .ripple {
        background: var(--white-opacity-20);
      }
    }

    &#{$root}--secondary {
      background: var(--bg-secondary);
      color: var(--light);

      .ripple {
        background: var(--white-opacity-20);
      }
    }
  }

  &--outline {
    &#{$root}--default {
      border: 1px solid var(--dark);
      color: var(--dark);

      .ripple {
        background: var(--bg-primary-opacity-20);
      }
    }

    &#{$root}--primary {
      border: 1px solid var(--bg-primary);
      color: var(--bg-primary);

      .ripple {
        background: var(--bg-primary-opacity-20);
      }
    }

    &#{$root}--secondary {
      border: 1px solid var(--bg-secondary);
      color: var(--bg-secondary);

      .ripple {
        background: var(--bg-secondary-opacity-20);
      }
    }
  }
}
