@function hexToRGBA($hex, $opacity) {
  @return rgba(red($hex), green($hex), blue($hex), $opacity);
}

$primary: #6e7ce7;
$primary-opacity-20: hexToRGBA($primary, 0.2);

$secondary: #f3c40b;
$secondary-opacity-20: hexToRGBA($secondary, 0.2);

$white: #ffffff;
$white-opacity-20: hexToRGBA($white, 0.2);

$dark: #212121;

:root {
  --bg-primary: #{$primary};
  --bg-primary-opacity-20: #{$primary-opacity-20};

  --bg-secondary: #{$secondary};
  --bg-secondary-opacity-20: #{$secondary-opacity-20};

  --white-opacity-20: #{$white-opacity-20};

  --dark: #{$dark};
  --light: #{$white};
}
